<h1>Latency Comparison Firebase</h1>

<input type="text" name="clientId" [(ngModel)]="clientId"/>
<button (click)="start()">Start</button>
<button (click)="start10()">Start 10</button>

<div *ngFor="let s of services">
  <h2>{{s.name}}</h2>
  <button (click)="s.clear()">clear</button>

  <div style="height: 300px; width: 100%" *ngIf="(s.testResults | async)?.length">
    <ngx-charts-bar-vertical-2d
      [results]="s.testResults | async | toGroupedResult"
      legendTitle="Responses"
      groupPadding="0"
      barPadding="1"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="'iteration'"
      [yAxisLabel]="'RTT [ms]'">
    </ngx-charts-bar-vertical-2d>
  </div>

<!--
  <div *ngFor="let test of s.testResults | async" style="margin-top: 1em">
    Roundtrip: {{getRoundtripTimes(test)}}
    <span style="color: grey">{{test | json}}</span>
  </div>
-->

</div>

